:root {
  --primary-color: #92703e;
  --secondary-color: #9c9c9c;
  --md-radius: 1rem;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('./assets/fonts/harryp.woff2') format('woff2'),
    url('./assets/fonts/harryp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #171717;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}
