:root {
  --primary-color: #92703e;
  --secondary-color: #9c9c9c;
  --md-radius: 1rem;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('./assets/fonts/harryp.woff2') format('woff2'),
    url('./assets/fonts/harryp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #171717;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
